@model WebUI.Models.SearchFilterModel

@{
        ViewBag.Title = "Search Filghts";
}

<h2>Search Flights</h2>



<div class="container">
    <div class="row">
        <div class="col-md-3">

            @Html.Partial("SearchFilterPartial", Model)

        </div>
    </div>
</div>

