@{
    ViewBag.Title = "British Airways";
}

<div class="jumbotron">
    <div class="row">

        <div class="col-md-4">
            Hello @User.Identity.Name
            <form>
                <div class="form-group">
                    <input type="date" name="OutDate" />
                </div>
                <input type="date" name="InDate" />
            </form>
        </div>

        <div class="col-md-8">

        </div>

    </div>
</div>