@model WebUI.Models.AccountDetailsModel

@{
    ViewBag.Title = "Manage account";
}

<h2>Manage</h2>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <ul class="nav nav-pills nav-stacked">
                <li>@Html.ActionLink("Account", "Index", "Manage", new { partialViewName = "ViewAccountPartial" }, null)</li>
                <li>@Html.ActionLink("Bookings", "Index", "Manage", new { partialViewName = "ViewBookingsPartial" }, null)</li>
            </ul>
        </div>



        <div class="col-lg-9">
            @if (Model.PartialViewName == "ViewAccountPartial")
            {
                Html.RenderPartial("ViewAccountPartial", Model.AccountDetails);
            }
            else if (Model.PartialViewName == "ViewBookingsPartial")
            {
                Html.RenderPartial("ViewBookingsPartial", Model.Bookings);
            }
            </div>
    </div>
</div>
