@model System.Collections.Generic.List<AirlineBookingLibrary.Models.Booking>

<div>
    @if ((Model is null) || (Model.Count == 0))
    {
        <p>No bookings to display</p>
    }
    @foreach (var booking in Model)
    {
        <p>@booking.BookingReference</p>
    }
</div>

